{% extends 'ProfileTemplates/profile.html'%}
{% from 'renderfield.html' import render_field %}
{% block profilepage%}
<div class = 'actionpage'>
    <form method = 'POST' style = 'margin-top: 2%; box-shadow: 5px 10px 20px rgb(155, 154, 154);' enctype = "multipart/form-data">
        <h3 id = 'title'>Change Password</h3>
        <div class = 'fields'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{render_field(form.CurrentPassword)}}
            {{render_field(form.NewPassword)}}
            {{render_field(form.ConfirmNewPassword)}}
        </div>
        <div class = 'submission'>
            {{form.submit(class = 'btn-active')}}
        </div>
        <div class = 'flashes'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class = "{{category}}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
    </form>
</div>
{% endblock %}