{% extends 'LoginTemplates/layout.html'%}
{% from 'renderfield.html' import render_field %}
{% block content%}
<div class = 'actionpage' style = 'width: 60%; float: left; margin-left: 20%;'>
  <button id = 'add-project' class = 'btn-active' style = 'float: left; width: 150px;'>Create New Project</button>
  <input type = 'text' style = 'border: solid rgb(0,0,100); border-width: 1px; border-radius: 3px; margin: 5px; float: left;box-shadow: 1px 1px 2px rgb(200,200,200);' placeholder = 'Search' id = 'srch' />
  <div class = 'cards-container'>
  {% for proj in projs.items %}
  <div class = 'card'>
    <header>
      <h3>Project Code</h3>
    </header>
    <div class = 'card-content'>
      <table class = 'card-info'>
        <tr>
          <td class = 'card-info-title'><p>Start Date:</p></td>
          <td><p>{{proj.StartDate}}</p></td>
        </tr>
        <tr>
          <td class = 'card-info-title'><p>End Date:</p></td>
          <td><p>{{proj.EndDate}}</p></td>
        </tr>
        <tr>
          <td class = 'card-info-title'><p>Location:</p></td>
          <td><p>{{proj.Location}}</p></td>
        </tr>
        <tr>
          <td class = 'card-info-title'><p>Managers:</p></td>
          <td><p>{% for m in proj.ProjectManagers%} m, {% endfor %}</p></td>
        </tr>
        <tr>
          <td class = 'card-info-title'><p>Description:</p></td>
          <td><p>Some description</p></td>
        </tr>
        <tr>
          <td style = 'margin-top: 20px;'><a href = "#" style = 'text-decoration: none;'>View.. <img src = "{{url_for('static', filename = 'images/view.png')}}" style = 'height: 25px; width 25px;' /> </a></td>
          <td style = 'margin-top: 20px;'><a href = "#" style = 'text-decoration: none;'>Go..<img src = "{{url_for('static', filename = 'images/go.png')}}" style = 'height: 25px; width: 25px;'/> </a></td>
        </tr>
      </table>
    </div>
  </div>
  {% endfor %}
  <div class = 'paginator' style = 'margin-top: 20px;'>
    {% for page_num in projs.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
      {% if page_num %}
        {% if projs.page == page_num %}
          <a href = "{{url_for('projects.projects', page = page_num)}}" class = 'pg-inline'>{{page_num}}</a>
        {% else %}
          <a href = "{{url_for('projects.projects', page = page_num)}}" class = 'pg-outline'>{{page_num}}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>
<script src = "{{url_for('static', filename = 'js/jquery/jQuery-Tags-Input-master/src/jquery.tagsinput.js')}}"></script>
<link rel = 'stylesheet' type = 'text/css' href = "{{url_for('static', filename = 'js/jquery/jQuery-Tags-Input-master/src/jquery.tagsinput.css')}}" /> 

<div id="myModal" class="modal">
  <div class="modal-content" style = 'background-color:rgba(126, 126, 126, 0); border: none;'>
      <form method = 'POST' action = "{{url_for('admin.CreateNewUser')}}" style = 'width:100%;' id = 'CreateUserForm'>
          <h3>Create New User <span class="close">&times;</span></h3>
          <div class = 'fields'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{render_field(form.ProjectCode)}}
            {{render_field(form.ProjectStartDate)}}
            {{render_field(form.ProjectEndDate)}}
            {{render_field(form.Location)}}
            {{render_field(form.FundingSource)}}
            {{render_field(form.TotalBudget)}}
            {{render_field(form.Currency)}}
            <div class = 'row'>
              <div class = 'col-a'>
                <label>Project Manager(s): <label style = 'color: red;'>*</label></label>
              </div>
              <div class = 'col-b'>
                <span style = 'float: left; margin-left: 400px;' class = 'search' id = 'search-managers'><img src = "{{url_for('static', filename = 'images/search.png')}}" style = 'width: 25px; height: 25px;' /></span>
                {{form.Managers}}
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-a'>
                <label>StakeHolder(s):</label>
              </div>
              <div class = 'col-b'>
                <span style = 'float: left; margin-left: 450px;' class = 'search'><img src = "{{url_for('static', filename = 'images/search.png')}}" style = 'width: 25px; height: 25px;' /></span>
                {{form.StakeHolders}}
              </div>
            </div>
            {{render_field(form.Description)}}
          <div class = 'submission'>
            {{form.submit(class = 'btn-active')}}
          </div>
        </form>
  </div>
</div>

<div id="Managers-Table" class="modal">
  <div class="modal-content">
    
    <h3>Search Managers <span class="closer" id = 'close-managers-table'>&times;</span></h3>
    <div class = 'items' stye = 'overflow: scroll;'>
      <input type = 'text' style = 'border: solid rgb(0,0,100); border-width: 1px; border-radius: 3px; margin: 5px; float: left; box-shadow: 1px 1px 2px rgb(200,200,200);' placeholder = 'Search' id = 'srch-itm' />
      <table>
        <tr>
          
          <th>Manager's UserName: </th>
          <th>Manager's Name: </th>
        </tr>
        {% for u in users.items %}
        {% if u.UserName != 'admin'%}
          <tr class = 'table-row-itm'>
            <td><a class = 'itm' href = '#'>{{u.UserName}}</a></td>
            <td>{{u.FirstName}} {{u.LastName}}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
  </div>

<script>
  $(document).ready(function(){
    $('#add-project').click(function(){
        $('#myModal').show();
    });

    $('#search-managers').click(function(){
        $('#Managers-Table').show();
    });

    $('#close-managers-table').click(function(){
      $('#Managers-Table').hide();
    });
    $('.close').click(function(){
        $('.modal').hide();
    });
});
</script>
<script>
  $(document).ready(function(){
    $('#Managers').tagsInput();
    $('#StakeHolders').tagsInput();
    $('.itm').click(function(){
      $('#Managers').addTag($(this).text());
      $('#Managers-Table').hide();
    });
  });
</script>

{% endblock %}