<html>
  <head>
    <title>Enterprise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = "{{url_for('static', filename = 'css/style_login.css')}}" />
    <link rel="icon" href = "{{url_for('static', filename = 'images/logo.png')}}" sizes="16x16" /> 
  </head>
  <body>
    <form method = 'POST' action = "{{url_for('ChangeForgotPassword', token = token)}}" style = 'width:45%; margin-left: 27%;'>
      <div class = 'fields'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class = 'title' style = 'padding: 1px;'>
          <p>Change Forgot Password</p>
        </div>
        <div class = 'row'>
          <div class = 'col-a'>
            {{form.newpswd.label}}
          </div>
          <div class = 'col-b'>
            {{form.newpswd}}
          </div>
        </div>
        <div class = 'row'>
          <div class = 'col-a'>
            {{form.confirm.label}}
          </div>
          <div class = 'col-b'>
            {{form.confirm}}
          </div>
        </div>
      </div>
      <div class = 'submission'>
        <input type = 'submit' name = 'submit' class = 'btn-active' value = 'Submit'/>
        <a href = "{{url_for('login')}}">Back to Login</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                <div class = "{{category}}">
                <p>{{ message }}</p>
                </div>
              {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    </form>
  </body>
</html>
