<html>
  <head>
    <title>Enterprise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = "{{url_for('static', filename = 'css/style_main.css')}}"/>
    <link rel = 'stylesheet' href = "{{url_for('static', filename = 'css/jquery.treetable.css')}}"/>
    <link rel = 'stylesheet' href = "{{url_for('static', filename = 'js/jquery/dropzone-5.7.0/dist/dropzone.css')}}" />
    <link rel="icon" href="{{url_for('static', filename = 'images/logo.png')}}" sizes="16x16" />
    <script src = "{{url_for('static', filename = 'js/jquery/dist/jquery.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/jquery/dist/jquery.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/jquery/dist/jquery-ui.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/search-box.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/jquery/dropzone-5.7.0/dist/dropzone.js')}}"></script>
  </head>
  <body>
    <nav class = "main-nav">
      <ul>
        <li><a href = "{{url_for('home')}}">Home</a></li>
        {% if  'Admin' in role  or 'root' in role%}
        <li><a href = "{{url_for('admin.admin')}}">Administration</a></li>
        {% endif %}
        {% if 'Projects' in role or 'Tasks' in role or 'Budget' in role or 'root' in role%}
        <li><a href = "{{url_for('projects.allprojects')}}">Projects</a></li>
        {% endif %}
        <li class="dropdown">
          <img class = 'small-circle account-img' src = "{{image_file}}" />
          <a href ="javascript:void(0)" class="dropbtn"> {{username}}</a>
          <div class="dropdown-content">
            <a href="{{url_for('profile.UserProfile', uname = username)}}">View Profile</a>
            <a href="{{url_for('logout')}}">Log Out</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class = 'mainpage'>
    {% block content %}
    {% endblock%}
    </div>
  </body>
</html>
