body{
  margin: 0px;;
  padding: 0px;;
  font-family: "Arial Black", Gadget, sans-serif;
  background-size: cover;
}

.home-image{
  width: 50%; 
  height: 70%; 
  margin-left: 22%; 
  margin-top: 5%; 
  
  
}
.main-nav{
  background-color: rgb(0,0,100);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

 .small-circle{
  vertical-align:middle;
  margin-top: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}

.big-circle{
  margin-top: -65px;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: black;
}

li a:active{
  color: rgb(0,0,100);
  background-color: white;
}

li.dropdown {
  display: inline-block;
  float: right;
  margin-right: 5%;
  padding: 2px;
}

.dropbtn {
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgba(0,0,100,0.8);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:active {
  background-color:white;
  color: rgb(0,0,100);
}

.mainpage{
  margin-top: 0px;
}

.vertical-menu {
  width: 300px; /* Set a width if you like */
  height: 100%;
  position: fixed;
  background-color: #eee;
  padding: 5px;
  float: left;
}

.vertical-menu:hover{
  overflow: scroll;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  transition: 0.3s;
}

.mainpage{
  padding: 0px;
  margin-top: 48px;
}

.vertical-menu a:hover {
  background-color: white;
  color: rgb(0,0,100);
  font-weight: bold;
}

.vertical-menu a:active {
  background-color: black;
  color: white;
  font-weight: bold;
}

h3{
  padding: 10px;
  text-align: center;
  background-color: rgb(0,0,100);
  color: white;
}

.actionpage{
  margin-top: none;
  padding: 15px;
  padding-right: 0px;
  width: 81%;
  float: right;
  text-align: center;
}

.form-container:hover{
  background-color: white;
}

.form-td{
  margin-top: 0px;
  padding: 0pd;
  align-content: left;
}

form{
  width: 60%;
  background-color: #eee; /* Grey background color */
  margin-left: 15%;
  padding: 15px;
  box-shadow: 5px 10px 20px rgb(0,0,0);
  border-radius: 15px;
}

.form-in-table{
  margin-top: 0px;
  width: 90%;
  margin-left: 5%;
}

.row{
  padding: 10px;
}

.col-a{
  float: left;
}

.col-b{
  text-align: right;
}

.company-info{
  margin-top: 2%;
  width: 60%;
  background-color: #eee; /* Grey background color */
  margin-left: 15%;
  padding: 15px;
  
  border-radius: 15px;
}

input[type = text]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}

input[type = text]:disabled{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(102,102,0);
  border-width: 1px;
  border-radius: 3px;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
  
}

input[type = date]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}

input[type = date]:disabled{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(102,102,0);
  border-width: 1px;
  border-radius: 3px;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

input[type = password]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}

input[type = file]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}

select {
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}


select:disabled {
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(102,102,0);
  border-width: 1px;
  border-radius: 3px;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

textarea{
  width: 75%;
  height: 100px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(0,0,100);
  border-width: 1px;
  border-radius: 3px;
}

textarea:disabled{
  width: 75%;
  height: 100px;
  box-sizing: border-box;
  border: solid;
  border-color: rgb(102,102,0);
  border-width: 1px;
  border-radius: 3px;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

.submission{
    text-align: center;
    padding-top: 20px;
}

.btn-active{
  border: None;
  color: white;
  font-weight: bold;
  background-color: rgb(0,0,100);
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  width: 100px;
}

.btn-active:hover{
  background-color: black;
}

.btn-active:active{
  background-color: rgb(225,225,225);
  color: rgb(0,0,100);
  border: solid;
  border-color: rgb(0,0,100);
}

.btn-active:disabled{
  background-color: rgb(59,59,59);
  color: white;
  border: solid;
  border-color: rgb(59, 59, 59);
}

.success {
  text-align: center;
  color: rgb(0,0,100);
}

.fail {
  text-align: center;
  color: red;
}
table{
  width: 95%;
  border: solid;
  border-width: 1px;
  border-color: #eee;
  box-shadow: 5px 10px 20px rgb(200,200,200);
  overflow: scroll;
  
}

th{
  width: auto;
  background-color: rgb(0,0,100);
  color: white;
  text-align: left;
  padding: 5px;
  border-bottom: solid;
}
.active {
  color: black;
  text-align: left;
}

.inactive {
  color: red;
  text-align: left;
}

tr{
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

tr:hover{
  background-color: rgb(224,224,224);
}

tr:nth-child(even){
  background-color: #eee;
}

tr:nth-child(even):hover{
  background-color: rgb(224,224,224);
}

#itm-table th td{
  width: auto;
}

.ui-tabs{
  border: none;
}

.ui-tabs .ui-tabs-nav{
  background-color: 000066;
  overflow: auto;
}

.ui-tabs .ui-tabs-nav ul{
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: fixed;
}

.ui-tabs .ui-tabs-nav li{
  display: inline;
  overflow: inherit;
  float:left;
}
.ui-tabs .ui-tabs-nav li a{
  background-color: 000066;
  color: white;
  font-style: normal;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.ui-tabs .ui-tabs-nav li a:hover{
  background-color: white;
  color: black;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
  background-color: black;
  color: white;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal p{
  color: 000066;
  font-weight: bold;
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe; 
    margin: 5% auto; /* 5% from the top and centered */
    align-items: center;
    padding: 15px;
    border: 1px solid #888; 
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.closer {
  color: white;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.closer:hover,
.closer:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

.search-managers:hover,
.search-managers:focus {
    text-decoration: none;
    cursor: pointer;
}

.search-stakeholders:hover,
.search-stakeholders:focus {
    text-decoration: none;
    cursor: pointer;
}

.hide-message:hover,
.hide-message:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#PickItem{
  text-decoration: none;
  color: rgb(0,0,100);
  font-weight: bold;
  text-underline-position: below;
  padding: 3px;
  margin-bottom: 5px;
}

#PickPackage{
  text-decoration: none;
  color: rgb(0,0,100);
  font-weight: bold;
  text-underline-position: below;
  padding: 3px;
  margin-bottom: 5px;
}

ul.warehouse{
  list-style-type: circle;
}

.warehousecontent{
  float:none;
  display: none;
}

.warehousecontent a{
  text-align: left;
  font-size: 12px;
}

.Locked{
  color: red;
}

.Pending {
  color: black;
  text-align: left;
}

.Complete {
  color: green;
  text-align: left;
}

.Canceled {
  color: red;
  text-align: left;
}

.Approved {
  color: green;
  text-align: left;
}

.select-what{
  float: left;
  background-color: rgb(0,0,100);
  color: white;
  font-weight: bold;
  border: solid;
  border-color: rgb(0,0,100);
  border-radius: 3px;
  box-shadow: 5px 10px 20px rgb(39, 39, 39);
  display: none;
}

.select-what ul{
  list-style-type: circle; padding: 5px;
}

.select-what li{
  float:left; 
  width: 100%; 
  text-align: left;
  padding: 3px;
}

.select-what li:hover{
  background-color: white;
  color: rgb(0,0,100);
}

.cards-container{
  width: 50%;
  margin-left: 10%;
  margin-top: 50px;
}

.card{
  width: 100%;
  background-color: #eee; /* Grey background color */
  margin-left: 25%;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 5px 10px 20px rgb(190, 190, 190);
}

.card-info tr:nth-child(even){
  background-color: #eee;
}

.card-info tr{
  background-color: #eee;
}

.card-info{
  background-color: #eee;
  box-shadow: none;
}

.card-info-title{
  font-weight: bold;
}

.pg-outline{
  text-decoration: none;
  display: inline-block;
  font-size: small;
  color: rgb(0,0,100);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  padding: 3px;
}

.pg-inline {
  text-decoration: none;
  display: inline-block;
  font-size: small;
  background-color: rgb(0,0,100);
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  padding: 3px;
}


@media only screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape){

  .vertical-menu {
    width: 16%; /* Set a width if you like */
    height: 100%;
    position: fixed;
    background-color: #eee;
    padding: 3px; 
    float: left;
  }
  
  .vertical-menu:hover{
    overflow: scroll;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  h3{
    padding: 8px;
    text-align: center;
    background-color: rgb(0,0,100);
    color: white;
  }

  form{
    width: 98%;
    background-color: #eee; /* Grey background color */
    margin-left: -3%;
    padding: 15px;
    box-shadow: 5px 10px 20px rgb(0,0,0);
    border-radius: 15px;
  }


}
